.button {
  padding: 0.5em 1em;
  font-weight: bold;
  background-color: #00e41c;
  border: 1px solid #1aa700;
  border-radius: 1em;
  color: #fff;

  &:disabled {
    background-color: #d4d4d4;
    border: 1px solid #a9a9a9;
  }

  &_cancel {
    background-color: #e40000;
    border: 1px solid #7b0000;

    &:disabled {
      background-color: #d4d4d4;
      border: 1px solid #a9a9a9;
    }
  }
}

.button-row {
  margin: 0.5em 0;
  display: flex;

  & > .button {
    margin: 0 0.5em;
  }
}

.button-row_left {
  justify-content: flex-start;

  & :first-child {
    margin-left: 0;
  }
}

.button-row_right {
  justify-content: flex-end;

  & :last-child {
    margin-right: 0;
  }
}
