@import './variables.scss';

.layout {
  width: 100vw;
  height: 100vh;
}

.header {
  width: 100%;
  height: 100px;
  background-color: $gray-color;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: start;
  z-index: 1;
}

.content {
  width: 1024px;
  margin: 120px auto 20px auto;
  padding: 2em;
  border-radius: 1em;
  border: 1px solid #c5c5c5;
  display: block;
  position: relative;
  background-color: #f3f3f3;
  z-index: 0;
}

.footer {
  width: 100%;
  height: 50px;
  background-color: $gray-color;
  position: fixed;
  bottom: 0;
  z-index: 1;
}
