<h1>Организация</h1>
<div class="card form">
  <div class="form__column">
    <form [formGroup]="form">
      <div class="form__column-row">
        <input class="input" formControlName="shortName" />
      </div>
      <div class="form__column-row">
        <input class="input" formControlName="fullName" />
      </div>

      <div [formGroup]="form.get('director')">
        <div class="form__column-row">
          <input class="input" formControlName="firstName" />
        </div>
        <div class="form__column-row">
          <input class="input" formControlName="secondName" />
        </div>
        <div class="form__column-row">
          <input class="input" formControlName="lastName" />
        </div>
      </div>
      <div class="form__column-row">
        <input class="input" formControlName="createDate" />
      </div>
    </form>

    <div class="button-row button-row_left">
      <button *ngIf="hasChange" class="button button_cancel" (click)="cancel()">Отменить</button>
      <button (click)="save()" class="button" [disabled]="!hasChange">Сохранить</button>
    </div>
  </div>
  <div class="column">
    <organization-employee-and-subdivision></organization-employee-and-subdivision>
  </div>
</div>
