<h1>Организация</h1>
<div class="card">
  <div class="column">
    <form [formGroup]="form">
      <input class="input" formControlName="shortName" />
      <br />
      <input class="input" formControlName="fullName" />
      <br />
      <div [formGroup]="form.get('director')">
        <input class="input" formControlName="firstName" />
        <br />
        <input class="input" formControlName="secondName" />
        <br />
        <input class="input" formControlName="lastName" />
        <br />
      </div>
      <input class="input" formControlName="createDate" />
    </form>

    <div class="button-row button-row_left">
      <button *ngIf="hasChange" class="button button_cancel" (click)="cancel()">Отменить</button>
      <button (click)="save()" class="button" [disabled]="!hasChange">Сохранить</button>
    </div>
  </div>
  <div class="column">
    <organization-employee-and-subdivision></organization-employee-and-subdivision>
  </div>
</div>
