@import './styles/layout.scss';
@import './styles/components.scss';
@import './styles/overrides.scss';

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f9f9f9;
}
